<div class="row">
  <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12">
    <ngx-visualize type="x-organization"></ngx-visualize>
  </div>
  <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12">
    <finsec-table [fields]="fields" type="x-organization"></finsec-table>
  </div>
  <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12">
    <finsec-form type="x-organization" (getOrganization)="getOrganization($event)"
                 (getMessage)="getMessage($event)"></finsec-form>
  </div>
</div>
