<div class="row">
  <div class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card>
      <nb-card-header>Services</nb-card-header>
      <nb-card-body>
        <ng2-smart-table (userRowSelect)="onRowSelect($event)" [settings]="settings" [source]="source"
                         (custom)="onCustomAction($event)">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6 col-lg-6 col-xxxl-6 hidden" id="asset-card">
    <nb-card size="medium">
      <nb-card-header>Target Details</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col">
            <p class="text-center">Targets</p>
            <div *ngFor="let target of service_assets" class="target-details">
              <p>--------------------------------------------------------------------</p>
              <p><span class="title"> Name </span>: {{target.name}} </p>
              <p><span class="title">Description </span>: {{target.description}} </p>
              <p><span class="title">Created </span>: {{target.created}} </p>
              <p><span class="title">Modified </span>: {{target.modified}} </p>
              <p><span class="title">Subtype </span>: {{target.subtype}} </p>
              <p><span class="title">Domain </span>: {{target.domain}} </p>
              <p><span class="title">Product name </span>: {{target.product_name}} </p>
              <p><span class="title">Product version </span>: {{target.product_version}} </p>
              <p><span class="title">Product vendor </span>: {{target.product_vendor}} </p>
              <p><span class="title">Network type </span>: {{target.network_type}} </p>
              <p><span class="title">Domain name </span>: {{target.domain_name}} </p>
              <p><span class="title">Operating system </span>: {{target.operating_system}} </p>
              <p><span class="title">Operating system version </span>: {{target.operating_system_version}}
              </p>
              <p><span class="title">Ip v4 </span>: {{target.ipv4_addr}} </p>
              <p><span class="title">Ip v6 </span>: {{target.ipv6_addr}}</p>
            </div>
          </div>
          <div class="col">
            <p class="text-center">Location</p>
            <div class="map" id="map"></div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
    <nb-card id="event-card">
      <nb-card-header>Event Sequence</nb-card-header>
      <nb-card-body>
        <div class="row text-center">
          <div *ngIf="display" class="col">
            <p>Overview</p>
            <ng2-smart-table [settings]="overview_settings" [source]="service_risk_events">
            </ng2-smart-table>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6 col-lg-6 col-xxxl-6 hidden"
       id="configuration-card">
    <nb-card size="medium" *ngIf="displayConfigurations">
      <nb-card-header>Configurations</nb-card-header>
      <nb-card-body>
        <nb-stepper orientation="vertical">
          <nb-step *ngFor="let configuration of service_configurations" label="{{configuration.name}}">
            <div class="lorem">
              <p>
                {{configuration.description}}
              </p>
              <!--              <p> Events involved: </p>-->
              <!--              <p *ngFor="let event of configuration_events">-->
              <!--                {{event.name}}-->
              <!--              </p>-->
            </div>
            <button nbButton nbStepperPrevious>prev</button> &nbsp;&nbsp;
            <button nbButton nbStepperNext>next</button>
          </nb-step>
        </nb-stepper>
      </nb-card-body>
    </nb-card>
  </div>
  <div *ngIf="service_risks.length > 0" class="col-md-6 col-lg-6 col-xxxl-6">
    <nb-card>
      <nb-card-header>Risk Calculations</nb-card-header>
      <nb-card-body>
        <div class="row text-center">
          <div *ngIf="service_risks.length > 0" class="col">
            <p>Overview</p>
            <ng2-smart-table [settings]="risk_settings" [source]="service_risks">
            </ng2-smart-table>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
    <nb-card id="threat-card">
      <nb-card-header>Threats</nb-card-header>
      <nb-card-body>
        <div class="row text-center">
          <div *ngIf="displayThreats" class="col">
            <p>Overview</p>
            <ng2-smart-table [settings]="overview_settings" [source]="service_threats">
            </ng2-smart-table>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12">
<!--    <div id="service-details">-->
<!--      <finsec-form type="x-service"></finsec-form>-->
<!--    </div>-->

    <!-- the next two steps could be another stepper. and the table could have the option to add or edit risk
    config options -->
    <!-- display known threats and add manually new -->
    <!-- Mitigate should store them first inside the data-layer and then internally as threat and not weakness -->
    <!-- threats should receive weaknesses from datalayer and threats from mitigate -->
    <div id="service-configurations" class="hidden">
      <button style="margin: 50px 0;" (click)="cancel_configuration()" nbButton status="danger">Cancel</button>
      <nb-stepper orientation="horizontal">
        <nb-step [label]="assets">
          <ng-template #assets>Assets</ng-template>
          <h4>Assets</h4>
          <finsec-dual-list targetType="x-asset"></finsec-dual-list>
          <finsec-form type="x-asset"></finsec-form>
          <button nbButton class="btn btn-info" id="associate" (click)="associateAssets()">Associate</button>
          <button nbButton disabled nbStepperPrevious>prev</button>
          <button nbButton nbStepperNext>next</button>
        </nb-step>
        <!--
        TODO: after adding an asset, get the vulnerabilities and the weaknesses from the KB. Add them as threat in
         mitigate.
         -->
        <nb-step [label]="threats">
          <ng-template #threats>Threats</ng-template>
          <h4>Threats</h4>
          <finsec-dual-list targetType="x-threat"></finsec-dual-list>
          <finsec-form type="x-threat"></finsec-form>
          <button nbButton nbStepperPrevious>prev</button>
          <button nbButton nbStepperNext>next</button>
        </nb-step>

        <!-- display existing event models or add manually new -->
        <nb-step [label]="events">
          <ng-template #events>Event Models</ng-template>
          <h4>Event Models</h4>
          <finsec-dual-list query="event_query" targetType="x-event"></finsec-dual-list>
          <finsec-form type="x-event"></finsec-form>
          <button nbButton nbStepperPrevious>prev</button>
          <button nbButton nbStepperNext>next</button>
        </nb-step>

        <!-- for each  threat create a risk configuration - provide the event models and trigger params -->
        <nb-step [label]="riskConfiguration">
          <ng-template #riskConfiguration>Risk Configuration</ng-template>
          <h4>Risk Configuration</h4>
          <finsec-dual-list targetType="x-risk-configuration"></finsec-dual-list>
          <finsec-form type="x-risk-configuration"></finsec-form>
          <button nbButton nbStepperPrevious>prev</button>
          <button nbButton disabled nbStepperNext>next</button>
        </nb-step>
      </nb-stepper>
    </div>
  </div>

