<div class="row">
  <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12">
    <ngx-visualize type="malware"></ngx-visualize>
  </div>
  <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12">
    <finsec-table [customCallback]="onCustomAction" [fields]="fields"
                  [class]="class"
                  type="malware"></finsec-table>
  </div>
  <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12">
    <finsec-form type="malware" (getTtp)="getTtp($event)" (getMessage)="getMessage($event)
    "></finsec-form>
  </div>
</div>
